@using Verita.Common.Enums;
@using Verita.Domain.Entities;
@model List<Verita.Domain.Entities.Product>
@{
    ViewBag.BodyClass = "shop-home";
}

<section class="catalog-page mt-40">
    <div class="filter-box categoryNav">
        <ul>

            @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                <li class="inactive">
                    <a href="/urunlerimiz?categoryId=@item.Id">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="container container-bg">

        <div class="catalog-header">
            <div class="category-info">
                <div class="breadcrumb" style="margin-bottom:10px">
                    <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:12px">
                        <li style=" padding: 0 10px 0px 0;">
                            <a href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Ürünlerimiz</span>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;">
                            <span class="current-item">@Model.FirstOrDefault()?.Category.Name</span> 
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="catalog-title">
            <h3>Ürünlerimiz</h3>
        </div>
        <div class="catalog-container">

            <div class="catalog-content ms-lg-0">
                @{
                    var products = Model;
                    var rowCount = (int)Math.Ceiling((double)products.Count / 3);
                }

                @for (int i = 0; i < rowCount; i++)
                {
                    <div class="row g-5 mb-13">
                        @for (int j = i * 3; j < Math.Min((i + 1) * 3, products.Count); j++)
                        {
                            var item = products[j];
                            <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400 @(j % 3 == 2 ? "last-item" : "")">
                                <div class="product-item">
                                    <a href ="/urunler?productId=@item.Id" class="product-link"></a>
                                    <div class="product-image">
                                        <img src="@item.MainImageUrl" alt="@item.Name">
                                    </div>
                                    <div class="overlay">
                                        <div class="middle">
                                            <div></div>
                                            <div class="overlay-name">@item.Name</div>
                                            <a href="/urunler?productId=@item.Id" class="btn-big product-btn-big">İNCELE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>

        </div>
    </div>
</section>
<style>
    .last-item {
        margin-right: 0px !important;
    }

    .container-bg {
        background-image: url(@Model.FirstOrDefault()?.Category.BackgroundImage);
    }
</style>
@section links
    {
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/heading-title.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/catalog.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-showcase-home.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>
}
@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        //Category Lazy Load Funtion
        $(document).ready(function () {
            $('.catalog-picture img').lazy({
                effect: "fadeIn",
                effectTime: 500,
                threshold: 0,
                afterLoad: function (element) {
                    //add load complete classes
                    element.addClass("lazy-complete");
                }
            });
        });


        //Category Fixed Head
        $(document).ready(function () {
            if (ResponsiveToolkit.is('>md')) {
                $(window).on('scroll', function () {
                    var sticky = $('.header-wrap');
                    var stickyInner = $('.header-filters');
                    var header = $('.header').outerHeight();
                    var topFilter = $('.header-info').outerHeight();
                    var marginOffset = parseInt($('.catalog-page').css("margin-top"));
                    var height = header + topFilter + marginOffset;
                    scroll = $(window).scrollTop();
                    if (scroll >= height) sticky.addClass("fixed-filters"), stickyInner.addClass("fixed-container");
                    else sticky.removeClass("fixed-filters"), stickyInner.removeClass("fixed-container")
                });
            }
        });


        //Mobile Filter Open/Close Funtion
        (function ($) {
            var trigger = $('.category-filter span');
            var filter = $('.sidebar');
            var close = $('.sidebar-close');

            function openFilter() {
                filter.show();
                $('body').css('overflow', 'hidden');
            }

            function closeFilter() {
                filter.hide();
                $('body').css('overflow', 'scroll');
            }

            $(document).ready(function () {
                trigger.on('click', openFilter);
                close.on('click', closeFilter);
            });
        })(jQuery);

        //Mobile Filter FilterBox Collapse Function
        (function ($) {
            var filterItem = $('.filter-box .title');

            function collapseHandler() {
                var $this = $(this);
                var isActive = $this.parent('.filter-box').hasClass('active');

                $(".filter-box").removeClass("active");

                if (!isActive) {
                    $this.parent('.filter-box').addClass('active');
                }
            }

            $(document).ready(function () {
                filterItem.on('click', collapseHandler);
            });
        })(jQuery);
    </script>
}