@using Verita.Common.Enums;
@using Verita.Contract.Request.Category;
@using Verita.Contract.Request.HomePageContent;
@using Verita.Domain.Entities;
@model EditHakkimizdaTimeLineRequest

@{
    ViewBag.Title = "Edit  Hakkımızda TimeLine";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Edit  Hakkımızda TimeLine</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm("Edit", "HakkimizdaTimeLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "pageForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Year)
                @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SortOrder)
                @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control-file" })
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card --> 