@using Verita.Domain.Entities;
@{
    ViewBag.BodyClass = "shop-home";
}
<style>
    .slider-bg h2 {
        color: #fff;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .overlay-name span {
        display: block;
        width: 100%;
        float: left;
        font-family: 'Aleo';
    }
</style>
<style>
    @@media (min-width: 992px) {
    .body-bg {
        color: #232323;
        background-repeat: no-repeat;
        width: 100%;
        letter-spacing: 0.015rem;
        overflow-x: hidden;
        background-image: url(/images/anasayfa_zemin_gorseli.jpg) !important;
    }
    }

    @@media (max-width: 991.98px) {
        .body-bg {
            color: #232323;
            background-repeat: no-repeat;
            width: 100%;
            letter-spacing: 0.015rem;
            overflow-x: hidden;
            background-image: url(/images/anasayfa_zemin_gorseli.jpg) !important;
            background-repeat:repeat-y;
        }
    }
</style>



<section class="big-slider">
    <div class="big-slider-swiper" style="height:100vh;">
        <div class="swiper">
            <div class="swiper-wrapper">
            </div>
        </div>
        <div class="big-slider-button-prev"></div>
        <div class="big-slider-button-next"></div>
    </div>
</section>
@*eski haline dönmesi için body-bg içini dışarı kopyala*@
<div class="body-bg">
    <div class="home-middle">
        @*    <div class="left-area"></div>
        <div class="right-area"></div>*@
        <div class="container contents" style="padding:0px !important;">
            <div class="mt-7">
                <div class="showcase-container">
                    <section class="showcase">
                        <div class="container" style="padding:0px !important;">
                            <div class="showcase-title">
                                <h4>Dünyanın Meyvesi, sizin için!</h4>
                            </div>
                            <div class="left-image-showcase showcase-scope-1">

                                <div class="showcase-products">
                                    <div class="showcase-wrap">
                                        <div class="showcase-slider-1 swiper">
                                            <div class="showcase-slider__wrapper swiper-wrapper">
                                                @await Component.InvokeAsync("CategoryCarousel")
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

            </div>
            <div class="d-flex flex-column my-40 box-shadow" style="background-color: rgb(255 255 255 / 80%); ">
                <div class="d-flex flex-lg-row flex-column-reverse">
                    <div class="align-self-center col-lg-6 col-sm-12 main-page-info-size">
                        <img src="@(((HomePageContent)ViewBag.Hakkimizda)?.Image)" class="w-100 mobile-main-image" style="height:auto;" />
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center justify-content-center  main-page-info-size">
                        <span class="text-center mb-7 font-size-h3 title">@(((HomePageContent)ViewBag.Hakkimizda)?.Title)</span>
                        <span class="text-center mb-6 px-10 home-page-content">
                            @Html.Raw(((HomePageContent)ViewBag.Hakkimizda)?.Description)
                        </span>
                        <a href="@(((HomePageContent)ViewBag.Hakkimizda)?.Link)" class="btn-big mt-5 home-page-button">TÜMÜNÜ GÖR</a>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column my-40 box-shadow" style="background-color: rgb(255 255 255 / 80%); ">
                <div class="d-flex flex-lg-row flex-column-reverse">
                    <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center justify-content-center order-lg-1 order-sm-2  main-page-info-size">
                        <span class="text-center mb-7 font-size-h3 title">@(((HomePageContent)ViewBag.NedenVeritaContent)?.Title)</span>
                        <span class="text-center mb-6 px-10 home-page-content">
                            @Html.Raw(((HomePageContent)ViewBag.NedenVeritaContent)?.Description)
                        </span>
                        <a href="@(((HomePageContent)ViewBag.NedenVeritaContent)?.Link)" class="btn-big mt-5 home-page-button">TÜMÜNÜ GÖR</a>
                    </div>
                    <div class="align-self-center col-lg-6 col-sm-12 order-lg-2 order-sm-1  main-page-info-size">
                        <img src="@(((HomePageContent)ViewBag.NedenVeritaContent)?.Image)" class="w-100 mobile-main-image" style="height:auto;" />
                    </div>
                </div>
            </div>



        </div>

    </div>
    <div class="d-flex w-100 rawjuice">
    </div>



    <div class="home-middle mt-10">
        <div class="container contents" style="padding:0px !important;">

            <div class="d-flex flex-column my-40 box-shadow" style="background-color: rgb(255 255 255 / 80%); box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); ">
                <div class="d-flex flex-lg-row flex-column-reverse">
                    <div class="align-self-center col-lg-6 col-sm-12">
                        <img src="@(((HomePageContent)ViewBag.GuvenliGida)?.Image)" class="w-100 mobile-main-image" style="height:auto;" />
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                        <span class="text-center mb-7 font-size-h3 title">@(((HomePageContent)ViewBag.GuvenliGida)?.Title)</span>
                        <span class="text-center mb-6 px-10 home-page-content">
                            @Html.Raw(((HomePageContent)ViewBag.GuvenliGida)?.Description)
                        </span>
                        <a href="@(((HomePageContent)ViewBag.GuvenliGida)?.Link)" class="btn-big mt-5 home-page-button">TÜMÜNÜ GÖR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20">
            <div class="footer-newsletter">
                <div class="input-group btn-uyeol mt-7">
                    <a href="https://dunyaninmeyvesi.com/uyeol" target="_blank" class="px-6 footer-newsletter-button">ÜYE OL</a>

                </div>
            </div>
    </div>

    <div class="mb-10">

        <section class="showcase">
            <div class="container" style="width:1300px; padding:0px !important;">

                <div class="showcase-title">
                    <h4>Verita Ürünleri Nerelerde Bulunur?</h4>
                </div>

                <div class="left-image-showcase showcase-scope-branch">
                    <div class="showcase-products">
                        <div class="showcase-wrap showcase-wrap-newsletter">
                            <div class="showcase-slider-branch swiper">
                                <div class="showcase-slider__wrapper swiper-wrapper" style="padding-top:4px";>
                                    @foreach (var item in (List<Referanslar>)ViewBag.Referanslar)
                                    {
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img class="mobile-slider-img" src="@item.Image" alt="@item.Title">
                                            </div>

                                        </div>
                                    </div>
                                    }

                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section class="showcase client-showcase">
        <div class="container" style="padding: 0px 0px 150px 0px !important;">

            <div class="showcase-title">
                <h4>Neden Verita Tercih Ediyorlar?</h4>
            </div>

            <div class="left-image-showcase showcase-scope-client">

                <div class="showcase-products clients">
                    <div class="showcase-wrap showcase-wrap-comment-container">
                        <div class="showcase-slider-client swiper">
                            <div class="showcase-slider__wrapper swiper-wrapper showcase-wrap-comment">

                                @foreach (var item in (List<NedenVerita>)ViewBag.NedenVerita)
                                {
                                    <div class="swiper-slide box-shadow">
                                        <div class="client-item d-flex">
                                            <div class="name mt-7">@item.Name</div>
                                            <div class="title">
                                                @item.Title
                                            </div>
                                            <div class="duty mb-5">@item.City</div>
                                            <div class="description pb-5">
                                                @item.Description
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
@section links
{
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/shop-info.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/store-showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/blog-showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-showcase-home.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/heading-title.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/fly-coffee-core.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-image.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/featured-product-single.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/slider.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>

}
<style>
    @@media (max-width: 992px) {
    body{
        background-image: url(/images/bg.png) !important;
        background-repeat : repeat-y;
    }

        body {
            margin: 0;
            font-family: "Montserrat", Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.4;
            color: #232323;
            background-color: #fff;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
            background-image: url(/images/bg.png) !important;
            background-size: contain;
        }
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%; /* Hem html hem body %100 yüksekliğe sahip */
    }

    body {
        font-size: 16px !important;
        font-weight: 400;
        font-family: "Roboto Slab";
        line-height: 1.4;
        background-color: #fff;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        background-image: url(/images/bg.png) !important;
        background-size: cover; /* Arka plan resmi tüm sayfayı kaplar */
        background-repeat: no-repeat; /* Arka plan tekrar etmez */
        background-position: center; /* Ortalar */
        height: auto; /* Yükseklik otomatik */
        min-height: 100vh; /* En az %100 yükseklik, viewport yüksekliğine göre ayarlama */
    }
</style>
@section scripts {
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-client', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-branch', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 5,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        function newsletter_subscribe() {
            var postData = {
                email: $("#newsletter-email").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "/bulten-kayit/",
                data: postData,
                success: function (data) {
                    if (data.success == true) {
                        $('#newsletter-email').val('');
                        displayNotification(data.result, 'success');
                    } else {
                        displayNotification(data.result, 'error');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#newsletter-subscribe-button').on('click', function () {
                newsletter_subscribe();
            });
            $('#newsletter-email').on('keydown', function (event) {
                if (event.keyCode == 13) {
                    $("#newsletter-subscribe-button").click();
                    return false;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-meyveli', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-1', {
                // Disable preloading of all images

                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        // Initialize Slide Items
        function initSlides() {
        @{
            // Initialize JavaScript variables
            <text>
                                                                        var mobileJson = [];
                var tabletJson = [];
                var desktopJson = [];
            </text>

            // Check if ViewBag.Sliders is not null and is a list of HomePageSlider objects
            if (ViewBag.Sliders != null)
            {
                // Iterate through ViewBag.Sliders
                foreach (var item in (List<HomePageSlider>)ViewBag.Sliders)
                {
                        // Create JavaScript object for the slider
                    <text>
           var slider = {
                            Id: @item.Id,
                            ButtonType : @item.HomePageSliderType.GetHashCode(),
                            Title: '@Html.Raw(item.Description)',
                            Name: "@item.Name",
                            PictureUrl: "'@item.ImageUrl'",
                            Url: '@item.Link',
                            Mobile: true,
                            Tablet: true,
                            Desktop: true
                        };
                    </text>

                    // Add the slider JavaScript object to the appropriate array
                    <text>
                            mobileJson.push(slider);
                        tabletJson.push(slider);
                        desktopJson.push(slider);
                    </text>
                }
            }

        }

                            // Variables
                   // mobileJson =  [{ "Id": 1, "Title": "Kalite Garantili <br> meyve ve sebzeler", "Name": "", "PictureUrl": "/images/slider/1.kalite-garantili-meyve-ve-sebzeler.webp", "Url": "/kalite-garantisi", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "İstanbul içi <br> aynı gün teslim", "Name": "Slider2", "PictureUrl": "/images/slider/2.istanbul-ici-ayni-gün-teslim.webp", "Url": "/organizasyon-yapisi/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 3, "Title": "Fresh Cut çeşitlerimizi<br>denediniz mi?", "Name": "Slider3", "PictureUrl": "/images/slider/3.fresh-cut-cesitlerimizi-denediniz-mi.webp", "Url": "/hakkimizda", "Mobile": true, "Tablet": true, "Desktop": true }];
                   // tabletJson =  [{ "Id": 1, "Title": "Kalite garantili <br> meyve ve sebzeler", "Name": "", "PictureUrl": "/images/slider/1.kalite-garantili-meyve-ve-sebzeler.webp", "Url": "/kalite-garantisi", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "İstanbul içi <br> aynı gün teslim", "Name": "Slider2", "PictureUrl": "/images/slider/2.istanbul-ici-ayni-gün-teslim.webp", "Url": "/organizasyon-yapisi/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 3, "Title": "Fresh Cut çeşitlerimizi<br>denediniz mi?", "Name": "Slider3", "PictureUrl": "/images/slider/3.fresh-cut-cesitlerimizi-denediniz-mi.webp", "Url": "/hakkimizda", "Mobile": true, "Tablet": true, "Desktop": true }];
                   // desktopJson = [{ "Id": 1, "Title": "Kalite garantili <br> meyve ve sebzeler", "Name": "", "PictureUrl": "/images/slider/1.kalite-garantili-meyve-ve-sebzeler.webp", "Url": "/kalite-garantisi", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "İstanbul içi <br> aynı gün teslim", "Name": "Slider2", "PictureUrl": "/images/slider/2.istanbul-ici-ayni-gün-teslim.webp", "Url": "/organizasyon-yapisi/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 3, "Title": "Fresh Cut çeşitlerimizi<br>denediniz mi?", "Name": "Slider3", "PictureUrl": "/images/slider/3.fresh-cut-cesitlerimizi-denediniz-mi.webp", "Url": "/hakkimizda", "Mobile": true, "Tablet": true, "Desktop": true }];

                    // Slide Array
                             var slides = new Array();

            // Viewport Detect
            if (ResponsiveToolkit.is('<=sm')) { slides = mobileJson }
            else if (ResponsiveToolkit.is('md')) { slides = tabletJson }
            else { slides = desktopJson }

            // Slide Content Wrapper
            var slideWrap = $('.big-slider-swiper .swiper-wrapper').empty();

            if (slides.length == 0) {
                $('.big-slider').hide();
            }

            // Each slide items in slides
            $.each(slides, function (index, slide) {
                var slideItem = $('<div class="swiper-slide"><div class="slider-bg" style="background-image: url(' + slide.PictureUrl + ')"></div></div>');
                var slideContent = $('<div>').html(slide.Title);
                var button ="";
                if (slide.ButtonType == 0) {
                    button = $('<div class="btn-big"><a href="' + slide.Url + '" target="_blank" class="btn-dahafazla">DAHA FAZLA</a></div>');
                }
                else{
                    button = $('<div class="btn-hemenal"><a href="' + slide.Url + '" target="_blank" class="btn-dahafazla">HEMEN AL</a></div>');
                }
                

                slideItem.find('.slider-bg').append(slideContent).append(button);
                slideWrap.append(slideItem);
            });

            //Swiper-Slider
            const swiper = new Swiper('.big-slider-swiper .swiper', {
                // Enable lazy loading
                lazy: {
                    loadPrevNext: true,
                },
                slidesPerView: 1,
                loop: true,
                centeredSlides: true,
                speed: 500,
                effect: 'slide',
                navigation: {
                    nextEl: '.big-slider-swiper .big-slider-button-next',
                    prevEl: '.big-slider-swiper .big-slider-button-prev',
                }
            });
        }

        // DOM on Ready
        $(document).ready(function () {
            initSlides();
        });
    </script>



}