@using Verita.Common.Enums;
@using Verita.Domain.Entities;
@using Microsoft.AspNetCore.Http

@model IEnumerable<Verita.Domain.Entities.MeyveliRehber>

@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}

<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />

<main class="page-container mt-40">
      <div class="filter-box categoryNav">
        <ul>

            <li class="active last">
                <a href="/">
                    Ana Sayfa
                </a>
            </li> 
        </ul>
    </div> 
    <div class="container">
       <div class="page-nav-header"> 
            <div class="category-info">
                <div class="breadcrumb" style="margin-bottom:10px">
                    <ul class="breadcrumb-header">
                        <li  class="breadcrumb-first-item" style=" padding: 0 10px 0px 0;">
                            <a href="/"  class="breadcrumb-home" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">&gt;</span>
                        </li>
                        <li  class="breadcrumb-last-item" style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Meyveli Rehber</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
       <div class="heading-title mt-20">
            <h4>Meyveli Rehber</h4>
        </div>


        @{
            int pageSize = 28; // Sayfa başına gösterilecek kart sayısı
            int cardCount = 0; // Kart sayacı
            int pageCount = (int)Math.Ceiling((double)Model.Count() / pageSize);

            var request = Context.Request;
            int currentPage = 1; // Varsayılan olarak ilk sayfa
            if (!string.IsNullOrEmpty(request.Query["page"]))
            {
                currentPage = Convert.ToInt32(request.Query["page"]);
            }
            int startIndex = (currentPage - 1) * pageSize; // Başlangıç indeksi
            int endIndex = Math.Min(startIndex + pageSize, Model.Count()) - 1; // Bitiş indeksi
            int cardIndex = 0;
      
    int cardsPerRow = 4; // Her satırda gösterilecek kart sayısı
    int cardsDisplayed = 0; // Gösterilen kart sayısı
}
@foreach (var card in Model.Skip(startIndex).Take(pageSize))
{
    if (cardsDisplayed % cardsPerRow == 0)
    {
        @:<div class="row mt-10" id="cardContainer"> <!-- Yeni satırı aç -->
    }
    <div class="col-sm-3">
        <div class="card" data-file ="@card.File" data-title ="@card.Name">
            <img class="card-img-top" src="@card.Image" alt="Kart resmi">
            <div class="card-body">
                <h5 class="card-title">@card.Name</h5>
                <a href="@card.Link">@card.Link</a>
                <p class="card-text">@card.DateOfPublication.ToString("dd-MM-yyyy")</p>
            </div>
        </div>
    </div>
    if (cardsDisplayed % cardsPerRow == cardsPerRow - 1 || cardIndex == endIndex)
    {
        @:</div> <!-- Satırı kapat -->
    }
    cardsDisplayed++;
}

        <nav class="mt-10">
            <ul class="pagination">
                    @for (int i = 1; i <= pageCount; i++)
                    {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                    }
            </ul>
        </nav>

            </div>
        </main>

        <style>
           @@media (min-width: 992px) {
                .modal-lg,
                .modal-xl {
                  max-width: 1000px;
                }
           }

            @@media (min-width: 1200px) {
                .modal-xl {
                    max-width: 1540px; 
                }
            }
            .card-img-top {
                height: 300px;
            }

             h4 {
        font-size: 40px !important;
        font-family: 'Roboto Slab SemiBold' !important;
        font-weight: bold !important;
        color: rgb(4,106,56) !important;
    }
        </style>
                @section links{
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

}
        <script>
            $(document).ready(function () {

                    @functions {
                        string GetCardTypeClass(int labelType)
                        {
                            switch (labelType)
                            {
                                case 0:
                                    return "type-Yazılı";
                                case 1:
                                    return "type-Görsel";
                                case 2:
                                    return "type-Dijital";
                                case 3:
                                    return "type-Reklam";
                                default:
                                    return "";
                            }
                        }
                }


                        var allCards = $('.card');
            $('#datepicker').datepicker({
                dateFormat: 'dd-mm-yy', // Türkçe tarih formatı
                dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                dayNamesMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                monthNamesShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                nextText: 'İleri',
                prevText: 'Geri'
            });
            $('#pressReleaseBtn').click(function () {
                searchArticles();
            });

            $('#sortSelect, #labelTypeSelect').change(function () {
                searchArticles();
            });

            $('#datepicker').change(function () {
                searchArticles();
            });

            $('#clearFiltersBtn').click(function () {
                $('#datepicker').val('');

                // Etiket seçimini sıfırla
                $('#labelTypeSelect').val('');

                // Sıralama seçimini başlangıç değerine getir
                $('#sortSelect').val('Seçiniz');

                // Tüm kartları göster
                $('.card').show();

                // Tüm kartları tekrar doldur
                var $cardContainer = $('#cardContainer');
                $cardContainer.empty(); // Önce tüm kartları temizle
                allCards.get().forEach(function (card) {
                    var cardTypeClass = 'type-' + $(card).data('type'); // Kartın tipine göre sınıf oluştur
                    var $col = $('<div class="col-sm-3 ' + cardTypeClass + '"></div>'); // Yeni bir col oluştur
                    $col.append(card); // Kartı col içine yerleştir
                    $cardContainer.append($col); // Col'u container içine yerleştir
                });
            });


            function searchArticles() {
                var searchDate = $('#datepicker').val();
                var searchType = $('#labelTypeSelect').val();
                var sortOrder = $('#sortSelect').val();

                var filteredCards = allCards.filter(function () {
                    var cardDate = $(this).data('date').replace(/(\d{4})-(\d{2})-(\d{2})/, '$3-$2-$1');
                    var cardType = $(this).data('type').toString();

                    var dateMatch = searchDate === '' || cardDate === searchDate;
                    var typeMatch = searchType === '' || cardType === searchType;

                    return dateMatch && typeMatch;
                });

                var $cardContainer = $('#cardContainer');
                $cardContainer.empty();

                if (sortOrder === 'asc') {
                    filteredCards.sort(function (a, b) {
                        return new Date($(a).data('date')) - new Date($(b).data('date'));
                    });
                } else if (sortOrder === 'desc') {
                    filteredCards.sort(function (a, b) {
                        return new Date($(b).data('date')) - new Date($(a).data('date'));
                    });
                }

                filteredCards.each(function (index, card) {
                    var $col = $('<div class="col-sm-3"></div>');
                    $col.append(card);
                    $cardContainer.append($col);
                });
            }
        });

        function parseDate(input) {
            var parts = input.split('-');
            // new Date(year, monthIndex, day)
            return new Date(parts[2], parts[1] - 1, parts[0]); // Month index 0-based olduğu için 1 çıkarıyoruz
        }
    </script>
    <script>
    $(document).ready(function () {
        // Kart tıklanıldığında modalı aç
    $('.card').click(function () {
    var pdfUrl = $(this).data('file'); 
    var title = $(this).data('title'); 
    var modalHtml = '<div class="modal fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">\
        <div class="modal-dialog modal-dialog-centered modal-xl">\
            <div class="modal-content">\
                <div class="modal-header">\
                    <h5 class="modal-title">'+title+'</h5>\
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeAndRemoveModal()"></button>\
                </div>\
                <div class="modal-body">\
                    <iframe src="' + pdfUrl + '" style="width:100%; height:600px;"></iframe>\
                </div>\
            </div>\
        </div>\
    </div>';
    $('body').append(modalHtml); // Modal HTML'ini sayfaya ekle
    $('#contentModal').modal('show'); // Modalı göster
});

    });
</script>
