@using Verita.Common.Enums;
@using Verita.Domain.Entities;
@using Microsoft.AspNetCore.Http

@model IEnumerable<Verita.Domain.Entities.BasindaBiz>

@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}

<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />

<main class="page-container card-body-bottom container-bg mt-40">
     <div class="categoryNav d-flex justify-content-center">
        <ul class="menu-toggle-btn" id="menuToggleBtn">
            <li>VERİTA 
                <span class="mobile-sub-menu-top-bun"></span>
                <span class="mobile-sub-menu-bottom-bun"></span>
                <span class="mobile-sub-menu-x-top-bun"></span>
                <span class="mobile-sub-menu-x-bottom-bun"></span>
            </li>
        </ul>
    </div>
    <div class="menu-container">
        <ul class="menu" id="menu">

            <li class="active last">
                <a href="/hakkimizda/">
                    Hakkımızda
                </a>
            </li>

            <li class="inactive">
                <a href="/hedeflerimiz/">
                    Hedeflerimiz
                </a>
            </li>

            <li class="inactive">
                <a href="/neden-verita/">
                    Neden Verita?
                </a>
            </li>

            <li class="inactive">
                <a href="/organizasyon-yapisi/">
                    Organizasyon Yapısı
                </a>
            </li>

            <li class="inactive">
                <a href="/kalite-garantisi/">
                    Kalite Garantisi
                </a>
            </li>

            <li class="inactive">
                <a href="/basinda-biz/">
                    Basında Verita
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="catalog-header">
            <div class="category-info">
                <div class="breadcrumb" style="margin-bottom:10px">
                    <ul class="breadcrumb-header">
                        <li  class="breadcrumb-first-item" style=" padding: 0 10px 0px 0; ">
                            <a class="breadcrumb-home" href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">&gt;</span>
                        </li>
                         <li class="breadcrumb-last-item" style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Verita</span>
                            <span class="delimiter">&gt;</span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Basında Verita</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-content pe-0">
            <div class="sub-page-title my-20" style="text-align:center;">
                <h4>Basında Verita</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <select id="sortSelect" class="form-control">
                    <option>Seçiniz</option>
                    <option value="asc">Artan</option>
                    <option value="desc">Azalan</option>
                </select>
            </div>
            <div class="col-lg-4 col-sm-12 mb-form-control-margin">
                <select id="datepicker" name="datepicker" class="form-control">
                     <option value="-1">Seçiniz</option>
            @foreach (var item in ViewBag.Years as List<int>)
            {
                <option value="@item">@item</option>
            }
        </select>
            </div>
            <div class="col-lg-4  col-sm-12 mb-form-control-margin">
               
                <select id="labelTypeSelect" class="form-control">
                    <option value="-1">Seçiniz</option>
                    <option value="0">Yazılı</option>
                    <option value="1">Görsel</option>
                    <option value="2">Dijital</option>
                    <option value="3">Reklam</option>
                </select>
            </div>
            <div class="col-lg-1 col-sm-12 mb-form-control-margin">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 d-flex mobile-center">
                        <button type="button" class="btn btn-primary" id="clearFiltersBtn">Temizle</button> <!-- Temizle butonu -->
                    </div>
                    <div class="col-lg-7">
                    </div>
                </div>
            </div>
        </div>

        @{
            int pageSize = 28; // Sayfa başına gösterilecek kart sayısı
            int cardCount = 0; // Kart sayacı
            int pageCount = (int)Math.Ceiling((double)Model.Count() / pageSize);

            var request = Context.Request;
            int currentPage = 1; // Varsayılan olarak ilk sayfa
            if (!string.IsNullOrEmpty(request.Query["page"]))
            {
                currentPage = Convert.ToInt32(request.Query["page"]);
            }
            int startIndex = (currentPage - 1) * pageSize; // Başlangıç indeksi
            int endIndex = Math.Min(startIndex + pageSize, Model.Count()) - 1; // Bitiş indeksi
            int cardIndex = 0;
      
    int cardsPerRow = 4; // Her satırda gösterilecek kart sayısı
    int cardsDisplayed = 0; // Gösterilen kart sayısı
}

<div class="row mt-10" id="cardContainer">
@foreach (var card in Model.Skip(startIndex).Take(pageSize))
{
   
    <div class="col-lg-3 col-sm-6 mt-5 padding-for-mobile @(GetCardTypeClass(card.LabelType.GetHashCode()))">
        <div class="card" data-date="@card.DateOfPublication.ToString("dd-MM-yyyy")"  data-year="@card.DateOfPublication.Year" data-title="@card.Name" data-type="@((int)card.LabelType)"  data-image="@card.Image"  data-link="@card.Link"  data-contenttype="@card.ContentType.ToString()">
            <img class="card-img-top" src="@card.Image" alt="Kart resmi">
            <div class="card-body">
                <p class="card-text">@card.DateOfPublication.ToString("dd-MM-yyyy")</p>
                <a href="@card.Resource">@card.Resource</a>
                <hr>
                <h5 class="card-title">@card.Name</h5> 
            </div>
        </div>
    </div>
   
    cardsDisplayed++;
}
</div>

        <nav class="mt-10">
            <ul class="pagination">
                    @for (int i = 1; i <= pageCount; i++)
                    {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                    }
            </ul>
        </nav>

            </div>
        </main>

        <style>
            select {
    -webkit-appearance: none !important; /* Safari ve Chrome */
    -moz-appearance: none !important; /* Firefox */
    appearance: none !important; /* Diğer tarayıcılar */
    padding: 5px 10px !important; /* İç boşluk */
    box-sizing: border-box !important;
}

             @@media (min-width: 992px) {

                 
                    .card-img-top {
                        height: 300px;
                    }
                }

                @@media (max-width: 992px) {

                    .page-link{
                        font-size:5.2rem !important;
                        padding-left:40px;
                        padding-right:40px;
                    }

                    .mobile-center{
                        justify-content :center !important;
                    }

                    select.form-control {
                        font-size: 2.2rem;
                    }

                    .mb-form-control-margin{
                     margin-top:2rem !important;
                 }

                 .btn{
                     font-size:3.2rem !important;
                 }

                 .form-control{
                     font-size :3.2rem !important;
                     line-height:2 !important;
                 }
                    .card-img-top {
                        height: 800px;
                    }
                
                }

            .card-title{
                margin-bottom: .5rem;
                font-size: 15px;
                font-weight: bold;
                font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            }
            .card-body{
                height:200px;
            }
            
            /* Aykut **************************/
            body {
            background: url(/images/basindabiz_alinlik.jpg) no-repeat !important;  
               background-size: contain;
            }

            .container-bg{
               /*  background-color:#f3e1ce !important; */
                background-image: url(/images/basindabiz_zemin.jpg);
                padding-bottom: 350px !important;
            }
              /* Aykut ***********************/
            .card{
            border-radius:0px !important;
            }

             h4 {
        font-size: 40px !important;
        font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
        font-weight: bold !important;
        color: rgb(4,106,56) !important;
    }

    .catalog-header{
        padding-top:60px;
    }
        </style>
                @section links{
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

}
        <script>


            $(document).ready(function () {

                    @functions {
                        string GetCardTypeClass(int labelType)
                        {
                            switch (labelType)
                            {
                                case 0:
                                    return "type-Yazılı";
                                case 1:
                                    return "type-Görsel";
                                case 2:
                                    return "type-Dijital";
                                case 3:
                                    return "type-Reklam";
                                default:
                                    return "";
                            }
                        }
                }


                        var allCards = $('.card');
         
            $('#pressReleaseBtn').click(function () {
                searchArticles();
            });

            $('#sortSelect, #labelTypeSelect').change(function () {
                searchArticles();
            });

            $('#datepicker').change(function () {
                searchArticles();
            });

            $('#clearFiltersBtn').click(function () {
                $('#datepicker').val('');

                // Etiket seçimini sıfırla
                $('#labelTypeSelect').val('');

                // Sıralama seçimini başlangıç değerine getir
                $('#sortSelect').val('Seçiniz');

                // Tüm kartları göster
                $('.card').show();

                // Tüm kartları tekrar doldur
                var $cardContainer = $('#cardContainer');
                $cardContainer.empty(); // Önce tüm kartları temizle
                allCards.get().forEach(function (card) {
                    var cardType =  $(card).data('type');
                    var cardTypeClass ="";
                    switch (cardType)
                            {
                                case 0:
                                    cardTypeClass = "type-Yazılı";
                                    break;
                                case 1:
                                    cardTypeClass = "type-Görsel";
                                     break;
                                case 2:
                                    cardTypeClass = "type-Dijital";
                                     break;
                                case 3:
                                    cardTypeClass = "type-Reklam";
                                     break;
                                default:
                                     break;
                            }
                    var $col = $('<div class="col-lg-3 col-sm-6 mt-5 padding-for-mobile ' + cardTypeClass + '"></div>'); // Yeni bir col oluştur
                    $col.append(card); // Kartı col içine yerleştir
                    $cardContainer.append($col); // Col'u container içine yerleştir
                });
            });


            function searchArticles() {
                var searchDate = parseInt($('#datepicker').val());
                var searchType = $('#labelTypeSelect').val();
                var sortOrder = $('#sortSelect').val();

                var filteredCards = allCards.filter(function () {
                    var cardDate = $(this).data('year');
                    var cardType = $(this).data('type').toString();

                    var dateMatch = searchDate == '-1' || cardDate === searchDate;
                    var typeMatch = searchType == '-1' || cardType === searchType;

                    return dateMatch && typeMatch;
                });

                var $cardContainer = $('#cardContainer');
                $cardContainer.empty();

                if (sortOrder == 'asc') {
                    filteredCards.sort(function (a, b) {
                        var dateA = parseDate($(a).data('date'));
                        var dateB = parseDate($(b).data('date'));
                        return dateA - dateB;
                    });
                } else if (sortOrder == 'desc') {
                    filteredCards.sort(function (a, b) {
                       var dateA = parseDate($(a).data('date'));
                       var dateB = parseDate($(b).data('date'));
                       return dateB - dateA;
                    });
                }

                filteredCards.each(function (index, card) {
                    var cardType =  $(card).data('type');
                    var cardTypeClass ="";
                    switch (cardType)
                            {
                                case 0:
                                    cardTypeClass = "type-Yazılı";
                                    break;
                                case 1:
                                    cardTypeClass = "type-Görsel";
                                     break;
                                case 2:
                                    cardTypeClass = "type-Dijital";
                                     break;
                                case 3:
                                    cardTypeClass = "type-Reklam";
                                     break;
                                default:
                                     break;
                            }
                    var $col = $('<div class="col-lg-3 col-sm-6 mt-5 padding-for-mobile  ' + cardTypeClass + '"></div>');
                    $col.append(card);
                    $cardContainer.append($col);
                });
            }
        });

       function parseDate(input) {
    var parts = input.split('-');
    // Yıl, ay ve gün sırasını ayarlıyoruz. JavaScript'te aylar 0'dan başlar.
    return new Date(parts[2], parts[1] - 1, parts[0]); 
}
    </script>
    <script>
    $(document).ready(function () {
        // Kart tıklanıldığında modalı aç
        $('.card').click(function () {
            var title= $(this).data('title');
            var contentType = $(this).data('contenttype');
            var content = contentType === 'Image' ? 
                '<img src="' + $(this).data('image') + '" class="img-fluid" alt="Fotoğraf">' :
                $(this).data('link');
            var modalHtml = '<div class="modal fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true">\
                <div class="modal-dialog modal-dialog-centered modal-xl">\
                    <div class="modal-content">\
                        <div class="modal-header">\
                            <h5 class="modal-title">'+title+'</h5>\
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeAndRemoveModal()"></button>\
                        </div>\
                        <div class="modal-body">\
                            ' + content + '\
                        </div>\
                    </div>\
                </div>\
            </div>';
            $('body').append(modalHtml); // Modal HTML'ini sayfaya ekle
            $('#contentModal').modal('show'); // Modalı göster
        });


        // Modal dışına tıkladığında modalı kapat ve sil
        $(document).on('click', function (e) {
            if ($(e.target).hasClass('modal')) {
                $('#contentModal').modal('hide'); // Modalı kapat
                $('#contentModal').on('hidden.bs.modal', function () {
                    $(this).remove(); // Modal HTML'ini kaldır
                });
            }

           
        });

        // Modalı kapat ve sil
        window.closeAndRemoveModal = function () {
            $('#contentModal').modal('hide'); // Modalı kapat
            $('#contentModal').on('hidden.bs.modal', function () {
                $(this).remove(); // Modal HTML'ini kaldır
            });
        };
    });
</script>
