@using Verita.Common.Enums;
<!DOCTYPE html>
<html>
<head>
    <title>Verita</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="Verita Dünyanın Meyvesi" />
    <meta name="keywords" content="Verita,Dünya,Meyve,Tropikal Meyve,Tropikal" />
    <meta name="viewport content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="robots" content="index, follow">

    <link href="/Themes/Default/Content/css/style.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/scss/vendors/fonts/fontawesome/scss/fontawesome.publish.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/header.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>
    <script src="/lib/jquery/jquery-3.3.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script> 

</head>
<body class="@ViewBag.BodyClass">
    <section class="header-mobile">
        <div class="bottom">
            <div class="header-mobile-nav">
                <input id="header-mobile-toggle" type="checkbox" />

                <label for="header-mobile-toggle" class="hamburger-btn">
                    <span class="top-bun"></span>
                    <span class="meat"></span>
                    <span class="bottom-bun"></span>
                </label>

                <div class="header-mobile-content">
                    <div class="header-mobile-content-wrap">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" id="dropdownMenuButton-4" href="#">VERİTA  <span style="visibility:hidden;">></span> </a>
                               
                                <div class="sub-menu">
                                    <ul>
                                        <li><a class="dropdown-item mobil-sub-menu-font" href="/hakkimizda">Hakkımızda</a>                                 </li>
                                        <li><a class="dropdown-item mobil-sub-menu-font" href="/hedeflerimiz">Hedeflerimiz</a>                             </li>
                                        <li><a class="dropdown-item mobil-sub-menu-font" href="/neden-verita">Neden Verita?</a>                            </li>
                                        <li><a class="dropdown-item mobil-sub-menu-font" href="/organizasyon-yapisi/">Organizasyon Yapısı</a>              </li>
                                        <li><a class="dropdown-item mobil-sub-menu-font" href="/kalite-garantisi">Kalite Garantisi</a>                     </li>
                                        <li><a class="dropdown-item mobil-sub-menu-font" href="/basinda-biz">Basında Verita</a>                            </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dropdownMenuButton-1" href="#">ÜRÜNLERİMİZ <span style="visibility:hidden;">></span> </a>
                                <div class="sub-menu">
                                    <ul>
                                        @await Component.InvokeAsync("CategoryListMobil")
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="dropdownMenuButton-1" href="#">GÜVENLİ GIDA <span style="visibility:hidden;">></span> </a>
                                <div class="sub-menu">
                                    <ul>
                                        @await Component.InvokeAsync("PageListMobil", new { pageCategoryId = PageCategory.GuvenliGida })
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dropdownMenuButton-1" href="#">MERAK ETTİKLERİNİZ <span style="visibility:hidden;">></span> </a>
                                <div class="sub-menu">
                                    <ul>
                                        @await Component.InvokeAsync("PageListMobil", new { pageCategoryId = PageCategory.MerakEttikleriniz })
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://www.dunyaninmeyvesi.com/">ONLİNE ALIŞVERİŞ</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/meyveli-rehber">MEYVELİ REHBER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/bize-ulasin/">İLETİŞİM</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="header-mobile-logo">
                <a href="/">
                    <img src="/logo.png"/>
                </a>
            </div>
            <div></div>

        </div>
    </section>
    <div class="fixed-header">
        <header>
            <div class="container" style="max-width:100%;">

                <nav class="navbar navbar-expand-lg align-items-center justify-content-start">
                    <label for="check" class="navbar-hamburger collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Menü">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>



                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>VERİTA</span>
                                </a>
                                <div class="dropdown-menu transparent-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/hakkimizda">Hakkımızda</a>
                                    <a class="dropdown-item" href="/hedeflerimiz">Hedeflerimiz</a>
                                    <a class="dropdown-item" href="/neden-verita">Neden Verita?</a>
                                    <a class="dropdown-item" href="/organizasyon-yapisi/">Organizasyon Yapısı</a>
                                    <a class="dropdown-item" href="/kalite-garantisi">Kalite Garantisi</a>
                                    <a class="dropdown-item" href="/basinda-biz">Basında Verita</a>
                                    <!-- Diğer dil seçenekleri -->
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="/urunlerimiz" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>ÜRÜNLERİMİZ</span>
                                </a>
                                <div class="dropdown-menu transparent-menu" aria-labelledby="dropdownMenuButton">


                                    @await Component.InvokeAsync("CategoryList")
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="gida-guvenligi" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>GÜVENLİ GIDA</span>
                                </a>
                                <div class="dropdown-menu transparent-menu" aria-labelledby="dropdownMenuButton">
                                    @await Component.InvokeAsync("PageList", new { pageCategoryId = PageCategory.GuvenliGida })
                                </div>
                            </div>
                        </li>



                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>MERAK</span> <span>ETTİKLERİNİZ</span>
                                </a>
                                <div class="dropdown-menu transparent-menu" aria-labelledby="dropdownMenuButton">
                                    @await Component.InvokeAsync("PageList", new { pageCategoryId = PageCategory.MerakEttikleriniz })
                                </div>
                            </div>
                        </li>
                    </ul>


                    <a href="/" style="position: absolute; right: 50%; height: 70px; left: 50%; top: 58px; display: flex; width: 70px; justify-content: center; align-items: center; transform: translate(-50%, -50%); ">
                        <img style="max-width: 100px; max-height: 45px; margin-top: -37px;" title="Verita" alt="Verita" src="/logo.png" />
                    </a>

                    <form class="navbar-right ms-auto">

                        <div class="navbar-right-item homepage text-center">
                            <div class="svg-icon svg-icon-secondary">

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M511.8 287.6L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L416 100.7V64C416 46.33 430.3 32 448 32H480C497.7 32 512 46.33 512 64V185L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6L511.8 287.6z" /></svg>
                            </div>

                            <a href="/" class="navbar-right-item-title is-authenticated">Anasayfa</a>

                        </div>
                        <div class="navbar-right-item online-menu">
                            <a href="https://www.dunyaninmeyvesi.com/"><div class="navbar-right-item-title">ONLINE <br />ALIŞVERİŞ</div></a>
                        </div> 

                        <div class="navbar-right-item right-menu-hover">
                            <a href="/meyveli-rehber" class="navbar-right-item-title">MEYVELİ <br /> REHBER</a>
                        </div>
                        <div class="navbar-right-item right-menu-hover">
                            <a href="/bize-ulasin/" class="navbar-right-item-title">İLETİŞİM</a>
                        </div>
                         
                    </form>
                </nav>
            </div>

        </header>
    </div>
    @RenderBody()
    <footer>

        <div class="container pb-10" style="max-width:100%">
            <div class="row g-0  mx-10">
                <div class="col-md-12 col-lg-12 offset-lg-0 py-10">
                    <div class="row">
                        <div class="col-lg-10 col-sm-12 mt-md-7 mt-lg-0">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mobile-flex">
                                    <div class="footer-menu ms-lg-15">
                                        <ul>
                                            <li>
                                                <h5 class="text-hover-primary fw-bold footer-title">
                                                    VERİTA<br />
                                                </h5>
                                            </li>
                                            <li>
                                                <a href="/hakkimizda/">Hakkımızda</a>
                                            </li>
                                            <li>
                                                <a href="/hedeflerimiz/">Hedeflerimiz</a>
                                            </li>
                                            <li>
                                                <a href="/neden-verita/">Neden Verita?</a>
                                            </li>
                                            <li>
                                                <a href="/organizasyon-yapisi/">Organizasyon Yapısı</a>
                                            </li>
                                            <li>
                                                <a href="/kalite-garantisi/">Kalite Garantisi</a>
                                            </li>

                                            <li>
                                                <a href="/basinda-biz/">
                                                    Basında
                                                    Verita
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr class="d-sm-block-mobile" />
                                </div>
                                <div class="col-lg-3 col-sm-6  mobile-flex">
                                    <div class="footer-menu">
                                        <ul>
                                            <li>
                                                <h5 class="text-hover-primary fw-bold footer-title">
                                                    ÜRÜNLERİMİZ<br />
                                                </h5>
                                            </li>
                                            @await Component.InvokeAsync("CategoryListFooter")
                                        </ul>
                                    </div>
                                    <hr class="d-sm-block-mobile" />
                                </div>
                                <div class="col-lg-3 col-sm-6  mobile-flex">
                                    <div class="footer-menu">
                                        <ul>
                                            <li>
                                                <h5 class="text-hover-primary fw-bold footer-title">
                                                    GÜVENLİ GIDA<br />
                                                </h5>
                                            </li>
                                            @await Component.InvokeAsync("PageListFooter", new { pageCategoryId = PageCategory.GuvenliGida })
                                        </ul>
                                    </div>
                                    <hr class="d-sm-block-mobile" />
                                </div>
                                <div class="col-lg-3 col-sm-6  mobile-flex">
                                    <div class="footer-menu">
                                        <ul>
                                            <li>
                                                <h5 class="text-hover-primary fw-bold footer-title">
                                                    MERAK ETTİKLERİNİZ<br />
                                                </h5>
                                            </li>
                                            @await Component.InvokeAsync("PageListFooter", new { pageCategoryId = PageCategory.MerakEttikleriniz })
                                        </ul>
                                    </div>
                                     <hr class="d-sm-block-mobile" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 mt-md-5 mt-lg-0 footer-support">
                            <h5 class="text-hover-primary fw-bold">
                                Müşteri<br />
                                Destek Hattı
                            </h5>
                            <h5 class=" mt-0">
                                <a href="tel:4449257"
                                   style="color: #77bd1f"
                                   class="text-hover-primary">444 9 257</a>
                            </h5>
                            <hr style="height:4px;" />
                            <p class="text-hover-primary fw-bold mt-5">
                                Sosyal
                                Medya Hesaplarımız
                            </p>
                            <div class="social mt-5">
                                <ul class="social-links">
                                    <li>
                                        <a href="https://www.instagram.com/veritameyve/"
                                           rel="nofollow" target="_blank"
                                           class="instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/VeritaMeyve"
                                           rel="nofollow" target="_blank"
                                           class="youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://x.com/veritameyve"
                                           rel="nofollow" target="_blank"
                                           class="x">
                                            <svg class="x-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#006a43" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" /></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/idealtarim/"
                                           rel="nofollow" target="_blank"
                                           class="pinterest">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <hr style="height:4px;" />
                            <div class="mt-5"> Verita 2024 </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="container hidden-container"></div>
    <script>
        const menuToggleBtn = document.getElementById('menuToggleBtn');
        const menu = document.getElementById('menu');

        const topBun = document.querySelector('.mobile-sub-menu-top-bun');
        const bottomBun = document.querySelector('.mobile-sub-menu-bottom-bun');
        const xLineTop = document.querySelector('.mobile-sub-menu-x-top-bun');
        const xLineBottom = document.querySelector('.mobile-sub-menu-x-bottom-bun');
        let isMenuOpen = false;

        menuToggleBtn.addEventListener('click', () => {
            isMenuOpen = !isMenuOpen;

            if (isMenuOpen) {
                // Menü açıldığında okları gizle, X'i göster
                topBun.style.display = 'none';
                bottomBun.style.display = 'none';
                xLineTop.style.display = 'inline-block';
                xLineBottom.style.display = 'inline-block';
            } else {
                // Menü kapandığında X'i gizle, okları göster
                xLineTop.style.display = 'none';
                xLineBottom.style.display = 'none';
                topBun.style.display = 'inline-block';
                bottomBun.style.display = 'inline-block';
            }

            menu.classList.toggle('open');
            menuToggleBtn.classList.toggle('open'); // Toggle open class for button
        });
    </script>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $.get('@Url.Action("CategoriesPartialView", "Home")', function (data) {
                    $('#categoriesPartial').html(data);
                });
            });
        </script>
    }
    @RenderSection("links", false)
    @RenderSection("scripts", false)
    <style>
        .fixed-header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > .dropdown-item:hover {
            color: white;
            background-color: rgba(0,0,0,0.37);
            border-radius: 0px;
        }

        .btn-secondary:hover {
            background-color: none;
            color: #fff;
            border: none;
        }

        .btn-secondary::after {
            display: none; /* Ok rengini beyaz yapar */
        }

        .btn-secondary:hover::after {
            border-top-color: #000; /* Hover durumunda ok rengini siyah yapar */
        }


        .transparent-menu {
            display: none; /* Menüyü başlangıçta gizle */
            background-color: rgba(255, 255, 255, 0.8); /* Transparan menü arka plan rengi */
        }

            .transparent-menu a {
                color: #fff; /* Menü içindeki bağlantıların rengi */
            }

        .btn-secondary:hover + .transparent-menu {
            display: block;
            background-color: rgba(0,0,0,0.37);
            border-radius: 0px;
            padding: 0px;
        }

        .dropdown-menu > li > a:after, .dropdown-menu > .dropdown-item:after {
            border: none !important;
            content: none;
        }

        .dropdown-toggle.nav-link:after, .dropdown-toggle.btn:after {
            content: none;
        }

        .transparent-menu:hover {
            display: block; /* Menü üzerine gelindiğinde menüyü göster */
            background-color: rgba(0,0,0,0.37);
            padding: 0px;
            border-radius: 0px;
        }

        .dropdown:hover {
            background-color: rgba(0,0,0,0.37);
        }

        .right-menu-hover:hover{
            background-color: rgba(0,0,0,0.37);
        }

        .online-menu{
            background-color: #ee2e24;
            padding: 10px;
        }

        .online-menu:hover {
            background-color: #982D23;
        }

        .transparent-menu a:hover {
            background-color: rgba(0, 0, 0, 0.1); /* Bağlantı üzerine gelince arka plan rengini belirtin */
        }

        .navbar-right-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 75px; /* Ayarlamak istediğiniz yükseklik */
        }

        .navbar-right-item-title {
            margin-top: 5px; /* İstediğiniz boşluk miktarı */
        }

        .dropdown-toggle {
            min-height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .nav-link {
            min-height: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .dropdown-menu .sub-menu {
            display: none;
            position: absolute;
            margin-top: -43.59px;
            left: 100%; /* Güncellendi: Menüyü sağ tarafta aç */
            background-color: rgba(0, 0, 0, 0.37);
            border-radius: 0;
            min-width: 200px;
            font-size: 14px;
            color: white;
        }

            .dropdown-menu .with-submenu:hover + .sub-menu,
            .dropdown-menu .sub-menu:hover {
                display: block;
            }

        .sub-menu > .dropdown-item:hover {
            color: white;
            background-color: rgba(0,0,0,0.37);
            border-radius: 0px;
        }
    </style>
</body>
</html>
