@using Verita.Common.Enums;
@using Verita.Contract.Request.BasindaBiz;
@using Verita.Domain.Entities;
@model EditBasindaBizRequest

@{
    ViewBag.Title = "Edit BasindaBiz";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Edit BasindaBiz</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm("Edit", "BasindaBiz", FormMethod.Post, new { enctype = "multipart/form-data", id = "pageForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SortOrder)
                @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LanguageId)
                @Html.DropDownListFor(model => model.LanguageId, new SelectList(Enum.GetValues(typeof(Language))), "Select Language", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfPublication)
                <input type="date" id="DateOfPublication" name="DateOfPublication" value="@Model.DateOfPublication.ToString("dd-MM-yyyy")" max="2100-12-31" required />
                @Html.ValidationMessageFor(model => model.DateOfPublication, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label" })
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" class="img-thumbnail" id="mainImagePreview" style="max-width: 200px; max-height: 200px;" />
                }
                <input type="file" name="MainImage" class="form-control-file" />
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Resource)
                @Html.TextBoxFor(model => model.Resource, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Resource, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContentType)
                @Html.DropDownListFor(model => model.ContentType, new SelectList(Enum.GetValues(typeof(BasindaBizContentType))), "Select Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContentType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LabelType)
                @Html.DropDownListFor(model => model.LabelType, new SelectList(Enum.GetValues(typeof(LabelType))), "Select LabelType", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LabelType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Link)
                @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@section Scripts {
    <script>
        $(document).ready(function () {
          
        function previewMainImage(event) {
            var mainImagePreview = document.getElementById('mainImagePreview');
            mainImagePreview.src = URL.createObjectURL(event.target.files[0]);
        }  
    </script>
}