@using Verita.Common.Enums;
@using Verita.Contract.Request.Category;
@using Verita.Domain.Entities;
@model EditCategoryRequest

@{
    ViewBag.Title = "Edit Category";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Edit Category</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data", id = "pageForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SortOrder)
                @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LanguageId)
                @Html.DropDownListFor(model => model.LanguageId, new SelectList(Enum.GetValues(typeof(Language))), "Select Language", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MainImageUrl, htmlAttributes: new { @class = "control-label" })
                @if (!string.IsNullOrEmpty(Model.MainImageUrl))
                {
                    <img src="@Model.MainImageUrl" class="img-thumbnail" id="mainImagePreview" style="max-width: 200px; max-height: 200px;" />
                }
                <input type="file" name="MainImage" class="form-control-file" />
                @Html.ValidationMessageFor(model => model.MainImageUrl, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BackgroundImageUrl, htmlAttributes: new { @class = "control-label" })
                @if (!string.IsNullOrEmpty(Model.BackgroundImageUrl))
                {
                    <img src="@Model.BackgroundImageUrl" class="img-thumbnail" id="backgroundImagePreview" style="max-width: 200px; max-height: 200px;" />
                }
                <input type="file" name="BackgroundImage" class="form-control-file" />
                @Html.ValidationMessageFor(model => model.BackgroundImageUrl, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPage, htmlAttributes: new { @class = "control-label" })
                @Html.CheckBoxFor(model => model.IsPage, new { @class = "form-control-file" })
            </div>

            <div id="dropdownContainer" style="display: none;">
                @Html.LabelFor(model => model.PageId)
                @Html.DropDownListFor(model => model.PageId, ViewBag.Pages as SelectList, "-- Select Page --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PageId, "", new { @class = "text-danger" })
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@section Scripts {
    <script>
        $(document).ready(function () {
          
        function previewMainImage(event) {
            var mainImagePreview = document.getElementById('mainImagePreview');
            mainImagePreview.src = URL.createObjectURL(event.target.files[0]);
        }
            function previewBackgroundImage(event) {
                var mainImagePreview = document.getElementById('backgroundImagePreview');
                mainImagePreview.src = URL.createObjectURL(event.target.files[0]);
            }

            document.getElementById('IsPage').addEventListener('change', function () {
                var dropdownContainer = document.getElementById('dropdownContainer');
                dropdownContainer.style.display = this.checked ? 'block' : 'none';
            });
    </script>
}